
.main{
    text-align:center;
    margin-top:15%;
}

p{
    font-family: Arial, sans-serif;
}

.error{
    font-size:40pt;
    font-weight: bold;
    color: black;
}

.win{
    font-size:40pt;
    font-weight: bold;
    color: green;
}

.loss{
    font-size:40pt;
    font-weight: bold;
    color: red;
}

.ongoing{
    font-size:40pt;
    font-weight: bold;
    color: #ff9c0d;
}

.scoreLinkDiv{
    bottom: 0px;
}

.centered {
    text-align: center;
}